/* Global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e4dad0;
    color: #333;
    line-height: 1.6;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #e7e5db;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.left {
    flex: 1;
    padding: 20px;
}

.right {
    flex: 2;
    padding: 20px;
}

.profile {
    text-align: center;
}

.profile .frame {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #ddd;
}

.profile img {
    width: 100%;
    height: auto;
}

.profile h2 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.profile h2 span {
    display: block;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.contact .title {
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    margin-bottom: 10px;
}

.contact .icon {
    margin-right: 10px;
    color: #333;
}

.contact .text, .contact a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

.info-section {
    margin-bottom: 20px;
}

.info-section h3 {
    font-size: 22px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.info-section p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.info-section ul {
    list-style: none;
    padding: 0;
    margin-left: 2rem;
}

.info-section li {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 10px;
}

.info-section li span {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.info-section li br {
    margin-bottom: 5px;
}

.info-section a {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #301300;
    text-decoration: none;
    margin-bottom: 5px;
    transition: color 0.3s ease;
    margin-left: 2rem;
}

.info-section a:hover {
    color: #007BFF;
    text-decoration: underline;
}

.info-section a:visited {
    color: #555;
}