@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: lightblue !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
    width: 100%;
    max-width: 62.5rem;
    min-height: 62.5rem;
    background: #fff;
    margin: 3.125rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 2.188rem 3.438rem rgba(0, 0, 0, 0.1);
}
.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.25rem;
    border-bottom: 0.063rem solid rgba(255, 255, 255, 0.2);
}
.container .left {
    position: relative;
    background-color: #003147;
    padding: 2.5rem;
}
.profile .frame {
    position: relative;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    overflow: hidden;
}
.profile .frame .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
    object-fit: cover;
}
.profile h2 {
    color: #fff;
    font-size: 12.5em;
    margin-top: 1.25rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.profile h2 span {
    font-size: 0.8em;
    font-weight: 300;
}
.contact {
    padding-top: 40px;
}
.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contact ul {
    position: relative;
}
.contact ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contact ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4
}
.contact ul li span {
    color: #fff;
    font-weight: 300;
}
.container .right {
    position: relative;
    background-color: #fff;
    padding: 2.5rem;
}